{#src/Salud/ComprasBundle/Resources/views/layout.html.twig#}
{% extends '::base.html.twig' %}
{% block title %}
Gesti&oacute;n de Compras Institucional
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/saludcompras/css/main.css')}}" type="text/css" media="all" ></link>
    <link href="{{ asset('bundles/jquery/jqwidgets/styles/jqx.shinyblack.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/jquery/js/jquery-1.6.4.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/jquery/jqwidgets/jqxcore.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/jquery/jqwidgets/jqxmenu.js') }}" ></script>
    <script type="text/javascript">
        $(document).ready(function () {
                // Create a jqxMenu
                $("#jqxMenu").jqxMenu({theme:'shinyblack', animationHideDelay: 900, showTopLevelArrows: true});
         })
    </script>
{% endblock %}
{% block body %}
    <div id="symfony-wrapper">
        <div id="logo-site">
            <a href="">
                <img src="{{ asset('bundles/saludcompras/images/logo.gif') }}" alt="Symfony">
            </a>
        </div>
        <div id="symfony-header">                        
        </div>

        {% if app.session.flash('notice') %}
            <div class="flash-message">
                <em>Aviso</em>: {{ app.session.flash('notice') }}
            </div>
        {% endif %}

        {% block content_header %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% include 'SaludComprasBundle::menu.html.twig' %}
            {% endif %}            
            <div style="clear: both"></div>
        {% endblock %}

        <div class="symfony-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}