{# src/Salud/ComprasBundle/Resources/views/Producto/edit.html.twig #}
{% extends "SaludComprasBundle::layout.html.twig" %}
{% form_theme form 'SaludComprasBundle::fields.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/jquery/bValidator-0.55/jquery.bvalidator-yc.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/jquery/bValidator-0.55/bvalidator.lang.es.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/saludcompras/js/Producto/edit.js') }}" ></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/jquery/bValidator-0.55/themes/bvalidator.theme.postit.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/saludcompras/css/producto.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<h1>Gesti&oacute;n de Productos</h1>
<form action="{{producto.id ? path('_producto_edit', {'id': producto.id}):
        path('_producto_create') }}" method="post" {{form_enctype(form)}}>
    {{form_widget(form)}}     
    <input type="submit" value="Enviar" />
</form>
{% endblock %}