{# src/Salud/ComprasBundle/Resources/views/Producto/list.html.twig #}
{% extends 'SaludComprasBundle::layout.html.twig'%}
{% block content%}
<h1>Listado de productos</h1>
<table class="listado">
   {% for producto in productos%}
    <tr>
        <td><A href="{{ path("_producto_show", {'id': producto.id}) }}">
                {{producto.descripcionitem}}
            </a>
        </td>
        <td>{{producto.preciounitario}}</td>
        <td>{{producto.idEspecifico.codigoespecifico}}</td>
        <TD>
		   <A href='{{ path('_producto_edit', {'id': producto.id}) }}'> 
			EDITAR
		   </A>
            </td>
    </tr>
   {% endfor %}
</table>
{% endblock%}