<h1>LineaPlan list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Preciounitario</th>
            <th>Cantidadpedido</th>
            <th>Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('lineaplan_show', { 'id': entity.id }) }}">{{ entity.preciounitario }}</a></td>
            <td>{{ entity.cantidadPedido }}</td>
            <td>{{ entity.id }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('lineaplan_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('lineaplan_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('lineaplan_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
