{# src/Salud/ComprasBundle/Resources/views/PlanCompras/edit.html.twig #}
{% extends "SaludComprasBundle::layout.html.twig" %}
{% form_theme edit_form 'SaludComprasBundle::fields.html.twig' %}

{% block content %}
<h1>PlanCompras edit</h1>

<form action="{{ path('plancompras_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('plancompras') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('plancompras_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}