{# src/Salud/ComprasBundle/Resources/views/PlanCompras/index.html.twig #}
{# src/Salud/ComprasBundle/Resources/views/PlanCompras/list.html.twig #}
{% extends 'SaludComprasBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/saludcompras/css/list.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content%}
<TABLE class='listado'>
    <caption>Planes de compras</caption>
    <thead>
        <TR>
            <Th>C&oacute;digo plan</Th>
            <Th>Unidad solicitante</Th>
            <Th>N&uacute;mero plan por unidad</Th>
            <Th>Fuente</Th>
            <Th>Periodo fiscal</Th>
            <TH>Fecha autorización</th>
            <TH>Fecha envio</th>
            <Th>Acciones</th>
        </tr>
    </thead>
    <TBODY>
        {% for plan in planes %}
        <TR>
            <TD>{{plan.idUnidadSolicitante.codigounidad}}-
                {{plan.idFuenteFinanciamiento.codigofuente}}-
                {{plan.idPeriodoFiscal.aniofiscal}}
            </TD>
            <TD>{{plan.idUnidadSolicitante.nombreunidad}}</TD>
            <TD>{{plan.numeroplan}}</TD>
            <TD>{{plan.idFuenteFinanciamiento.descripcionfuente}}</TD>
            <TD>{{plan.idPeriodoFiscal.aniofiscal}}</TD>
            <td>{{ plan.fechaAutorizacion?plan.fechaAutorizacion|date('d-m-Y H:i:s'): "---" }}</td>
            <td>{{plan.fechaEnvio ? plan.fechaEnvio|date('d-m-Y H:i:s'): "---" }}</td>
            <TD>                 
                <ul>
                    <li>
                        <a href="{{ path('plancompras_show', { 'id': plan.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('plancompras_edit', { 'id': plan.id }) }}">Editar</a>
                    </li>
                </ul>
            </td>
            </td>
        </tr>
        {% endfor %}
    </TBODY>
</table>
{% endblock %}