{# src/Salud/ComprasBundle/Resources/views/PlanCompras/new.html.twig #}
{% extends "SaludComprasBundle::layout.html.twig" %}
{% form_theme form 'SaludComprasBundle::fields.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/saludcompras/js/PlanCompras/edit.js') }}" ></script>
{% endblock %}
    
{% block content %}
<h1>PlanCompras creation</h1>
<input type='hidden' id="front_controller" value="{{ front_controller}}" />
<form action="{{ path('plancompras_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('plancompras') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}