{# src/Salud/ComprasBundle/Resources/views/PlanCompras/show.html.twig #} 
{% extends 'SaludComprasBundle::layout.html.twig' %} 

{% block content %} 
<table > 
    <tr> 
        <th>Plan:</th>
        <td > 
            {{entity.idUnidadSolicitante.codigounidad}} -
            {{entity.idFuenteFinanciamiento.codigofuente}} -
            {{entity.idPeriodoFiscal.aniofiscal}} 
        </td> 
        <th  align=right>Per&iacute;odo Fiscal:</th> 
        <TD > 
            {{entity.idPeriodoFiscal.aniofiscal}} 
        </TD> 
        <th align=right>N&uacute;mero convenio:</th> 
        <TD >			 
           {{entity.numeroconvenio?entity.numeroconvenio:"----"}} 
        </TD> 

    </tr> 
    <tr> 
        <th width='21%'>Unidad / Facultad:</th> 
        <td colspan="5" > 
            {{entity.idUnidadSolicitante.nombreunidad}} 
        </td> 
    </tr> 
    <tr> 
        <th >L&iacute;nea de trabajo que financia:</th> 

        <td colspan="5" > 
            {{entity.idUnidadFinanciadora.nombreunidad}} 
        </td> 
    </tr> 
    <tr> 
        <th >Origen Financiamiento:</th> 
        <td > 
            {{entity.idFuenteFinanciamiento.idOrigenFinanciamiento.descripcionorigen}} 
        </td> 
        <th  width=15% align=right>Fuente Financiamiento:</th> 
        <td colspan="3"  > 
            {{entity.idFuenteFinanciamiento.descripcionfuente}} 
        </td> 
    </tr> 
</table> 
</br></br>
<ul class="record_actions">
    <li>
        <a href="{{ path('plancompras') }}">
            Regresar al listado
        </a>
    </li>
    <li>
        <a href="{{ path('plancompras_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('plancompras_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar Plan</button>
        </form>
    </li>
</ul>
{% endblock %}
